body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabla {
  width: 200px;
  height: 200px;
  background-color: rgb(180, 180, 246);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
tr{
  color:red;
  
}
td{
  text-align: center;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border:2px solid;
  border-color: black;
}
.element1{

  font-size:50px;
}
.restart{
  width: 70px;
  height: 30px;
  position: relative;
  top: 10px;
  left:50px;
  padding: 5px;
  border-radius: 10px;
}
.istoric{
  width: 70px;
  height: 30px;
  position: relative;
  top: 50px;
  white-space:pre-wrap;
  padding: 5px;
  border-radius: 10px;
}